<p id="notice"><%= notice %></p>

<p>
  <strong>Social network:</strong>
  <%= @blogger.social_network %>
</p>

<p>
  <strong>Followers:</strong>
  <%= @blogger.followers %>
</p>

<p>
  <strong>Account name:</strong>
  <%= @blogger.account_name %>
</p>

<p>
  <strong>About:</strong>
  <%= @blogger.about %>
</p>

<%= link_to 'Edit', edit_blogger_path(@blogger) %> |
<%= link_to 'Back', bloggers_path %>
