<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @offer.name %>
</p>

<p>
  <strong>Idea:</strong>
  <%= @offer.idea %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @offer.purpose %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offer.description %>
</p>

<p>
  <strong>Blogger:</strong>
  <%= @offer.blogger %>
</p>

<p>
  <strong>Price:</strong>
  <%= @offer.price %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
