<p id="notice"><%= notice %></p>

<p>
  <strong>Problem:</strong>
  <%= @solution.problem %>
</p>

<p>
  <strong>Solution:</strong>
  <%= @solution.solution %>
</p>

<p>
  <strong>Offers:</strong>
  <%= @solution.offers_id %>
</p>

<%= link_to 'Edit', edit_solution_path(@solution) %> |
<%= link_to 'Back', solutions_path %>
